@font-face {
  font-family:'Source';
  src:url('SourceSansPro-Light.otf');
}

* {
  font-family:'Source';
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-image: url("bg2.png");
  background-size: cover;
  background-position: top;
  background-color: rgb(85,56,51);
  background-repeat: no-repeat;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.nav-top ul {
  list-style: none;
  margin-top: 0;
}

.nav-top li {
  padding: 10px;
  float: right;
}

.nav-top a {
  color: black;
  text-decoration: none;
  transition: 0.4s;
}

.nav-top a:hover {
  color: dimgrey;
  transition: 0.4s;
}

.middle-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0 15% 15% 15%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.middle-form, .middle {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 10% 15% 10px 15%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.middle-form input {
  margin-right: 10px;
  margin-left: 10px;
}

.radio {
  margin-left: 0;
  margin-bottom: 2px;
}

.middle {
  margin-bottom: 15%;
}

.plat {
  text-align: center;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-flow: column;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.plat p {
  width: 150px;
}

.middle-menu img, .middle img {
  width: 150px;
  height: 150px;
}

.form {
  display: block;
  margin: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.bottom p {
  color: white;
  line-height: 8px;
}

.form-bloc {
  /*position: fixed;
  bottom: 10px;
  right: 10px;*/
  color: black;
  font-weight: 400;
  font-size: 150%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 150px;
}

.form-bloc input {
  width: 142px;
}

.submit {
  color: black;
}

@media screen and (max-width: 410px) {
  .nav-top li {
    float: none;
    padding: 5px;
    border-bottom: 1px solid black;
    list-style: square;
  }
  .nav-top ul {
    margin: 0;
    padding-bottom: 5px;
  }
  .middle, .middle-form {
    margin-top: 250px;
  }
  .submit {
    margin-top: 10px;
  }
}
